@font-face {
  font-family: 'iconfont';  /* Project id 2798803 */
  src: url('//at.alicdn.com/t/font_2798803_vuptakkw0h.woff2?t=1634289414922') format('woff2'),
       url('//at.alicdn.com/t/font_2798803_vuptakkw0h.woff?t=1634289414922') format('woff'),
       url('//at.alicdn.com/t/font_2798803_vuptakkw0h.ttf?t=1634289414922') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-:before {
  content: "\e620";
}

.icon-fenxiang-weixin:before {
  content: "\e646";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-weixin1:before {
  content: "\e64f";
}

.icon-whatsapp1:before {
  content: "\e848";
}

.icon-fanhuidingbu1:before {
  content: "\e637";
}

.icon-dianhua_1:before {
  content: "\e679";
}

.icon-tuichu:before {
  content: "\e607";
}

.icon-fanhuidingbu:before {
  content: "\e678";
}

.icon-zhihuishetuanico_liulan:before {
  content: "\e674";
}

.icon-zhihuishetuanico_dianzan-19:before {
  content: "\e675";
}

.icon-zhihuishetuanico_pinglun:before {
  content: "\e676";
}

.icon-zhihuishetuanico_fenxiang-22:before {
  content: "\e677";
}

.icon-zhihuishetuanico_dianzan-18:before {
  content: "\e673";
}

.icon-zhihuishetuanico_fenxiang-17:before {
  content: "\e671";
}

.icon-zhihuishetuanico_shoucang:before {
  content: "\e672";
}

.icon-shenqingshetuan:before {
  content: "\e670";
}

.icon-youxiang_1:before {
  content: "\e66e";
}

.icon-weixin:before {
  content: "\e66f";
}

.icon-ico-erweima:before {
  content: "\e66b";
}

.icon-youxiang:before {
  content: "\e668";
}

.icon-dizhi:before {
  content: "\e669";
}

.icon-dianhua:before {
  content: "\e66a";
}

.icon-ico-dingdan:before {
  content: "\e661";
}

.icon-ico-shezhi:before {
  content: "\e662";
}

.icon-ico-huodong:before {
  content: "\e663";
}

.icon-ico-gouwuche:before {
  content: "\e664";
}

.icon-ico-wodefuli:before {
  content: "\e665";
}

.icon-ico-xiaoxitongzhi:before {
  content: "\e666";
}

.icon-ico-wodeshoucang:before {
  content: "\e667";
}
